@import url('https://fonts.googleapis.com/css?family=Satisfy&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  /* background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%); */
}

body {
  background-color: black;
}

.header-container{
  display: flex;
  font-size: 3rem;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin-bottom: 7rem;
  margin-top: 2rem;
}

.header-part1, .header-part2 {
  width: 100%;
  height: 100%;
  position: relative;
}

.header-part1 h2 {
  right: 0%;
  position: absolute;
}

.header-part1 h2:nth-child(1) {
  color: #fff;
  -webkit-text-stroke: 2px #fff;
}

.header-part1 h2:nth-child(2) {
  color: black;
  animation: animate 4s ease-in-out infinite;
}

.header-part2 h2 {
  position: absolute;
}

.header-part2 h2:nth-child(1) {
  color: black;
  -webkit-text-stroke: 2px #fff;
}

.header-part2 h2:nth-child(2) {
  color: #fff;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%, 100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

.body-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-id {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  align-self: center;
  padding-top: 0.5rem;
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 12rem;
  margin: 0.5rem;
  padding: 2rem;
  gap: 0.5rem;
  background: #ddd;
  border-radius: 0.25rem;
  text-align: center;
  transition: transform 0.25s ease-in-out;
  /* max-height: 280px; */
}

.pokemon-card:hover {
  transform: scale(1.2);
  z-index: 1;
  /* border: 1px solid #fff; */
  outline: 1px solid #fff;
}

.pokemon-card img {
  height: 10rem;
  width: 8rem;
  align-self: center;
}

.pokemon-card .char-name {
  text-decoration: underline;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 1rem;
}


.rock {
  background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.rock-btn {
  background: linear-gradient(to top, #a6462b 0%, #c26e2d 100%);
}

.ghost {
  background: linear-gradient(to top, #b7b7b8 0%, #e2ebf0 100%);
}

.ghost-btn {
  background: linear-gradient(to top, #8383ad 0%, #61b0da 100%);
}

.electric {
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.electric-btn {
  background: linear-gradient(to right, #b82800 0%, #f0ca0f 100%);
}

.bug {
  background: linear-gradient(to top, #e6b980 0%, #eacda3 100%);
}

.bug-btn {
  background: linear-gradient(to top, #e7a958 0%, #d39b4d 100%);
}

.poison {
  background: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
}

.poison-btn {
  background: linear-gradient(to top, #d26da1 0%, #90bcf9 100%);
}

.normal {
  background: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
}

.normal-btn {
  background: linear-gradient(-225deg, #a6fae1 0%, #ff9ceb 100%);
}

.fairy {
  background: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

.fairy-btn {
  background: linear-gradient(to top, #ff767b 0%, #e88ccb 99%, #ff81d7 100%);
}

.fire {
  background: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.fire-btn {
  background: linear-gradient(120deg, #fad353 0%, #fc8361 100%);
}

.grass {
  background: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}

.grass-btn {
  background: linear-gradient(120deg, #cdff58 0%, #64d373 100%);
}

.water {
  background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

.water-btn {
  background: linear-gradient(120deg, #5eecf6 0%, #4790f5 100%);
}

.ground {
  background: linear-gradient(315deg, #772f1a 0%, #f2a65a 74%);
}

.ground-btn {
  background: linear-gradient(315deg, #63220e 0%, #de852c 74%);
}


.load-more {
  width: 15rem;
  padding: 1rem 1.5rem;
  background: linear-gradient(to top right, #f6d365 0%, #fda085 25%, #df89b5 50%, #89f7fe 75%, #66a6ff 100%);
  margin: 3rem 0;
  border: none;
  border-radius: 0.25rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #3d3d3d;
}

.load-more:hover {
  cursor: pointer;
  background: linear-gradient(to top right, #eaba1c 0%, #f24e21 25%, #dc348b 50%, #2fe4f1 75%, #277ffa 100%);
}

.know-more {
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 0.125rem;
}

.know-more:hover {
  cursor: pointer;
}

.modal-wrapper {  
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.5);
}

.modal-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  min-width: 50rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

.stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2.2rem;
}

.column-1, .column-2, .column-3, .column-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.column-1 {
  align-items: center;
  padding: 1rem;
}

.column-1 img {
  width: 15rem;
  height: 15rem;
}

.column-1 h3 {
  text-decoration: underline;
}

.close-modal {
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  font-size: 1.2rem;
  font-weight: 600;
}